@font-face {
    font-family: gilroy;
    src: url(./Gilroy-ExtraBold.otf);
}
@font-face {
    font-family: china;
    src: url(./NeueMachina-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
section{
    height: 100%;
    width: 100%;
    /* background-color: lightblue; */
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 70px;
}
.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
nav h1{
    font-size: 30px;
    /* display: flex;
    align-items: center; */
    gap: 15px;
}
nav h1 i{
    rotate: 45deg;
    font-size: 35px;
    display: inline-block;
}
nav h4{
    font-size: 15px;
    font-weight: normal;
}
nav button{
    padding: 10px 20px;
    font-size: 14px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: normal;
}
.center{
    /* background-color: red; */
    padding: 40px 80px;
    height: 70%;
    width: 100%;
    display: flex;
}
.center-part1{
    /* background-color: lightblue; */
    height: 100%;
    width: 40%;
    /* background-color: lightblue; */
}

.center-part1 h1{
    line-height: 1.2;
    font-size: 50px;
    font-family: china;
}
.center-part1 p{
    font-size: 17px;
    width: 95%;
    margin-top: 15px;
    margin-bottom: 13px;
}
.center-part1 button{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: normal;
}

.center-part2{
    /* background-color: lightblue; */
    height: 100%;
    width: 60%;
    position: relative;
}
.center-part2 img{
    position: absolute;
    right: 0;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.section1bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}
.section1bottom img{
    height: 40px;
}
.section2{
    margin-top: 55px;
}
.section2 .services{
    /* background-color: red; */
    padding: 40px 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.section2 h3{
    background-color: #9ae975;
    font-weight: 500;
    padding: 1px 1px;
    border-radius: 5px;
    font-size: 40px;
    font-family: china;
}
.services p{
    width: 53%;
    font-size: 16px;
}
.container{
    height: 90%;
    width: 100%;
    padding: 40px 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.elem{
    flex-shrink: 0;
    height: 220px;
    width: 49%;
    border: 3px solid black;
    border-radius: 30px;
    /* background-color: red; */
    padding: 30px;
    box-shadow: 0px 9px 0px black;
    display: flex;
}
.elem-part1{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.elem-part2{
    height: 100%;
    width: 40%;
}
.elem-part2 img{
    height: 100%;
}
.elem-part1 h2{
    font-size: 27.5px;
    font-family: china;
    width: 70%;
    padding: 0px 10px;
    border-radius: 10px;
    font-weight: 500;
    background-color: #9ae975;
}
.elem-part1 h4{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    gap: 11px;
}
.elem-part1 h4 i{
    padding: 7px;
    background-color: black;
    color: white;
    font-weight: bolder;
    border-radius: 50%;
}
.black{
    background-color: black;
    color: white;
}
.black .elem-part1 h4 i{
    background-color: white;
    color: black;
}